node_modules/

.expo/
dist/
web-build/
expo-env.d.ts

_.orig._
_.jks
_.p8
_.p12
_.key
\*.mobileprovision
.idea
/android
/ios

.metro-health-check\*

npm-debug._
yarn-debug._
yarn-error.\*

.DS_Store
\*.pem

.env\*.local
.env

\*.tsbuildinfo

app-example
